mqtt_accounts:
  zigbee2mqtt:
    username: for_zigbee2mqtt
    password: 
    salt: 
  homeassistant:
    username: for_homeassistant 
    password: 
    salt: 
  espresense:
    username: for_espresense 
    password: 
    salt: 
  xiaofangx1s:
    username: for_xiaofangx1s 
    password: 
    salt: 
  wyzebridge:
    username: for_wyzebrdige 
    password: 
    salt: 

nodered_accounts:
  admin:
    username: for_nodered_admin
    password: 
    permissions: "*"
  readonly:
    username: for_nodered_readonly
    password:
    permissions: "read"


zigbee2mqtt_ui_token: token_to_login_to_ui

nodered_credential_secret: "https://nodered.org/docs/getting-started/docker#credentials-secrets-and-environment-variables"

tailscale_auth_key: "https://tailscale.com/kb/1085/auth-keys/"

mqtt_explorer_username: for_mqtt-explorer

mqtt_explorer_password: 

wyze_email: "you're 2nd wyze account where you share you camera from you main/1st account"

wyze_password: 
