{
    "name": "node-red-project",
    "description": "A Node-RED Project",
    "version": "0.0.1",
    "private": true,
    "dependencies": {
        "node-red-contrib-home-assistant-websocket": "~0.43.1",
        "node-red-contrib-time-range-switch": "~1.1.2"
    }
}
