
user hassio
topic readwrite #


# zigbee2mqtt
user zigbee2mqtt
# devices/groups operations
topic readwrite #

user espresense
topic readwrite espresense/#
topic write homeassistant/#

user xiaofangx1s
topic readwrite stock_room/#
topic write homeassistant/#

user wyzebridge
topic readwrite wzye/#
topic write homeassistant/#

user octoprint
topic readwrite octoPrint/#
topic write homeassistant/#

user rhasspy
topic readwrite rhasspy/#
topic readwrite hermes/#
topic write homeassistant/#

user nodered
topic readwrite hermes/intent/#
topic readwrite hermes/dialogueManager/endSession

user miscale 
topic readwrite miscale/#
topic readwrite miscale/#
topic write homeassistant/#
