
user hassio
topic readwrite #


# zigbee2mqtt
user zigbee2mqtt
# devices/groups operations
topic readwrite #

user espresense
topic readwrite espresense/#
topic write homeassistant/#

user xiaofangx1s
topic readwrite stock_room/#
topic write homeassistant/#

user wyzebridge
topic readwrite wzye/#
topic write homeassistant/#
