# {{ ansible_managed }}
# https://nerdoftheherd.com/news/2021/12/30/ansible-mosquitto-password-hash/
{% for item in mqtt_accounts | dict2items %}
{{ item.value.username }}:{{ item.value.password | password_hash('pbkdf2_sha512', item.value.salt, 12, 101 ) | replace('$pbkdf2-sha512$', '$7$') | replace('.', '+') }}==
{% endfor %}
