{
    "dialogue": {
        "system": "rhasspy",
    },
    "home_assistant": {
        "access_token": "",
        "api_password": "",
        "event_type_format": "rhasspy_{0}",
        "pem_file": "",
        "key_file": "",
        "url": "http://hassio/homeassistant/",
        "handle_type": "intent"
    },
    "intent": {
        "system": "fsticuffs"
    },
    "language": "",
    "parent": "",
    "microphone": {
        "arecord": {
            "device": "default:CARD=Y02",
            "udp_audio_host": "localhost",
            "udp_audio_port": "12102"
        },
        "pyaudio": {
            "device": "1",
            "udp_audio_port": "12102"
        },
        "system": "arecord"
    },
    "mqtt": {
        "enabled": true,
        "host": "{{ ansible_default_ipv4.address }}",
        "password": "{{ mqtt_accounts.rhasspy.password }}",
        "port": 1883,
        "publish_intents": true,
        "reconnect_sec": 5,
        "site_id": "default",
        "username": "{{ mqtt_accounts.rhasspy.username }}",
        "tls": {
            "enabled": false,
            "ca_certs": "",
            "cert_reqs": "CERT_REQUIRED",
            "certfile": "",
            "ciphers": "",
            "keyfile": "",
            "version": 2
        }
    },
    "sounds": {
        "system": "aplay",
        "aplay": {
            "device": "default:CARD=Y02"
        },
    },
    "speech_to_text": {
        "dictionary_casing": "",
        "kaldi": {
            "base_dictionary": "base_dictionary.txt",
            "base_language_model": "base_language_model.txt",
            "base_language_model_fst": "base_language_model.fst",
            "compatible": false,
            "custom_words": "custom_words.txt",
            "dictionary": "dictionary.txt",
            "g2p_corpus": "g2p.corpus",
            "g2p_model": "g2p.fst",
            "language_model": "language_model.txt",
            "mix_fst": "mixed.fst",
            "model_dir": "model",
            "phoneme_examples": "phoneme_examples.txt",
            "phoneme_map": "espeak_phonemes.txt",
            "sounds_like": "sounds_like.txt",
            "unknown_words": "unknown_words.txt"
        },
        "deepspeech": {
            "base_language_model_fst": "base_language_model.fst",
            "compatible": false,
            "mix_fst": "mixed.fst"
        },
        "vosk": {
            "compatible": false,
        },
        "system": "pocketsphinx",
    },
    "text_to_speech": {
        "flite": {
            "compatible": false
        },
        "larynx": {
            "compatible": false
        },
        "marytts": {
            "locale": ""
        },
        "nanotts": {
            "compatible": false,
            "language": "en-GB"
        },
        "opentts": {
            "voice": ""
        },
        "picotts": {
            "compatible": false
        },
        "system": "nanotts"
    },
    "training": {
        "intent": {
            "command": {
                "arguments": [],
                "program": ""
            },
            "remote": {
                "url": ""
            },
            "system": "auto"
        },
        "speech_to_text": {
            "command": {
                "arguments": [],
                "program": ""
            },
            "remote": {
                "url": ""
            },
            "system": "auto"
        },
        "tokenizer": "regex",
        "unknown_words": {
            "fail_when_present": true,
            "guess_pronunciations": true
        }
    },
    "wake": {
        "porcupine": {
            "keyword_path": "jarvis_raspberry-pi.ppn",
            "udp_audio": "localhost:12101"
        },
        "raven": {
            "keywords": {
                "jarvis": {
                    "enabled": true
                }
            },
            "probability_threshold": "0.35",
            "udp_audio": "localhost:12102"
        },
        "system": "raven"
    },
    "webhooks": {
        "satellite_site_ids": ""
    },
    "logging": {
        "format": ""
    },
    "download": {
        "url_base": "https://github.com/",
        "conditions": {}
    },
    "system": {
        "reboot": [
            "sudo",
            "shutdown",
            "-r",
            "now"
        ],
        "shutdown": [
            "sudo",
            "shutdown",
            "-h",
            "now"
        ]
    }
}
