nodered:
  title: "Node-Red"
  url: "http://192.168.0.114:1880"
  icon: si:nodered
zigbee2mqtt:
  title: "Zigbee2mqtt"
  url: "http://192.168.0.114:8080"
  icon: si:zigbee
mqtt_explorer:
  title: "MQTT Exp"
  url: "http://192.168.0.114:4000"
  icon: si:eclipsemosquitto
portainer:
  title: "portainer"
  url: "https://192.168.0.114:9443"
  icon: si:portainer
esphome:
  title: "esphome"
  url: "http://192.168.0.114:6052"
  icon: si:esphome
rhasspy:
  title: "rhasspy"
  url: "http://192.168.0.114:12101"
